.app-navbar{
  background-color: #3f51b5;
  opacity: .9;
}
.header_img{
  height: 40vh;
  margin-bottom: 2em;
  background-size: cover;
  background: url("../../assets/img/plage1.png") no-repeat center;
  z-index: 2;
}
