<div class="container">
  <div class="row">
    <div class="col-12 m-auto text-right">
      <button matSuffix type="submit" class="btn btn-primary" (click)="openDialogNewForfait()">Ajouter un forfait</button>
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="forfaits">

          <!-- Section destination -->

          <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef>Destination </th>
            <td mat-cell *matCellDef="let forfait">{{forfait.destination}}</td>
          </ng-container>

          <!-- Section Ville départ -->

          <ng-container matColumnDef="villeDepart">
            <th mat-header-cell *matHeaderCellDef>Ville départ </th>
            <td mat-cell *matCellDef="let forfait">{{forfait.villeDepart}}</td>
          </ng-container>

          <!-- Section Prix -->

          <ng-container matColumnDef="prix">
            <th mat-header-cell *matHeaderCellDef>Prix </th>
            <td mat-cell *matCellDef="let forfait">{{forfait.prix}}</td>
          </ng-container>

          <!-- Section nom de l'hôtel -->

          <ng-container matColumnDef="nomHotel">
            <th mat-header-cell *matHeaderCellDef>Nom de l'Hôtel</th>
            <td mat-cell *matCellDef="let forfait">{{ forfait.hotel.nom}}</td>
          </ng-container>

          <!-- Section nombre d'étoiles -->

          <ng-container matColumnDef="nbEtoiles">
            <th mat-header-cell class="text-center" *matHeaderCellDef>Nombre d'étoiles</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.hotel.nombreEtoiles}}</td>
          </ng-container>

          <!-- Section nombre de chambre -->

          <ng-container matColumnDef="nbChambres">
            <th mat-header-cell *matHeaderCellDef>Chambres</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.hotel.nombreChambres }}</td>
          </ng-container>

          <!-- Section Caractéristiques -->

          <ng-container matColumnDef="caract">
            <th mat-header-cell class="text-center" *matHeaderCellDef>Caractéristiques</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.hotel.caracteristiques}}</td>
          </ng-container>

          <!-- Section date départ -->

          <ng-container matColumnDef="dateDepart">
            <th mat-header-cell *matHeaderCellDef>Date départ</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.dateDepart}}</td>
          </ng-container>

          <!-- Section Date retour -->

          <ng-container matColumnDef="dateRetour">
            <th mat-header-cell *matHeaderCellDef>Date retour</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.dateRetour}}</td>
          </ng-container>



          <!-- Section rabais -->

          <ng-container matColumnDef="rabais">
            <th mat-header-cell *matHeaderCellDef>Rabais</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.rabais}}</td>
          </ng-container>

          <!-- Section forfait en vedette -->

          <ng-container matColumnDef="vedette">
            <th mat-header-cell *matHeaderCellDef>En Vedette</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.forfaitEnVedette ? "En vedette": "Pas en vedette"}}</td>
          </ng-container>


          <!-- Section actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="pl-4">Actions</th>
            <td mat-cell *matCellDef="let forfaits" class="boutonsAction">

              <form (ngSubmit)="openDialogEditionForfait(forfaits)">
                <button mat-button><i class="material-icons">edit</i></button>
              </form>


              <form (ngSubmit)="onDelete(forfaits)">
                <button mat-button ><i class="material-icons">delete</i></button>
              </form>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
      </div>
    </div>
  </div>
</div>




