<div class="container">
  <div class="row">
    <div class="col-12 m-auto text-right">
      <a routerLink="nouveau-forfait"><button matSuffix type="submit" class="btn btn-primary">Ajouter un forfait</button></a>
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="mat-elevation-z8">

        <table mat-table [dataSource]="forfaits">

          <!-- Section destination -->

          <ng-container matColumnDef="destination">
            <th mat-header-cell *matHeaderCellDef>Destination </th>
            <td mat-cell *matCellDef="let forfait">{{forfait.destination}}</td>
          </ng-container>

          <!-- Section Ville départ -->

          <ng-container matColumnDef="villeDepart">
            <th mat-header-cell *matHeaderCellDef>Ville départ </th>
            <td mat-cell *matCellDef="let forfait">{{forfait.villeDepart}}</td>
          </ng-container>

          <!-- Section Prix -->

          <ng-container matColumnDef="prix">
            <th mat-header-cell *matHeaderCellDef>Prix </th>
            <td mat-cell *matCellDef="let forfait">{{forfait.prix}}</td>
          </ng-container>

          <!-- Section nom de l'hôtel -->

          <ng-container matColumnDef="nomHotel">
            <th mat-header-cell *matHeaderCellDef>Nom de l'Hôtel</th>
            <td mat-cell *matCellDef="let forfait">{{ forfait.hotel.nom}}</td>
          </ng-container>

          <!-- Section nombre d'étoiles -->

          <ng-container matColumnDef="nbEtoiles">
            <th mat-header-cell *matHeaderCellDef class="text-center">Nombre d'étoiles</th>
            <td mat-cell *matCellDef="let forfait" class="text-center">{{forfait.hotel.nombreEtoiles}}</td>
          </ng-container>

          <!-- Section nombre de chambre -->

          <ng-container matColumnDef="nbChambres">
            <th mat-header-cell *matHeaderCellDef>Chambres</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.hotel.nombreChambres }}</td>
          </ng-container>

          <!-- Section date départ -->

          <ng-container matColumnDef="dateDepart">
            <th mat-header-cell *matHeaderCellDef>Date départ</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.dateDepart | date: 'yyyy-MM-dd'}}</td>
          </ng-container>

          <!-- Section Date retour -->

          <ng-container matColumnDef="dateRetour">
            <th mat-header-cell *matHeaderCellDef>Date retour</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.dateRetour | date: 'yyyy-MM-dd'}}</td>
          </ng-container>


          <!-- Section rabais -->

          <ng-container matColumnDef="rabais">
            <th mat-header-cell *matHeaderCellDef>Rabais</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.rabais}}</td>
          </ng-container>

          <!-- Section forfait en vedette -->

          <ng-container matColumnDef="vedette">
            <th mat-header-cell *matHeaderCellDef>En Vedette</th>
            <td mat-cell *matCellDef="let forfait">{{forfait.forfaitEnVedette ? "En vedette": "Pas en vedette"}}</td>
          </ng-container>


          <!-- Section actions -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="pl-4">Actions</th>
            <td mat-cell *matCellDef="let forfait" class="boutonsAction">

              <form (ngSubmit)="onEdit(forfait)">
                <!-- On inclus le type button pour éviter la soumission du formulaire sur le click -->
                <button mat-button type="button"
                        matTooltip="Modifier le forfait"
                        [routerLink]="['modifForfait/',forfait._id]"
                      >
                  <i class="material-icons">edit</i></button>
              </form>


              <form (ngSubmit)="openDialog(forfait)">
                <button mat-button ><i class="material-icons">delete</i></button>
              </form>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
      </div>
    </div>
  </div>
</div>




