.matBorder{
  border: 2px solid fuchsia;
}
.strikethrough{
  text-decoration: line-through;
  margin-right: .5em;
}
ul{
  display: inline-flex;
}
.example-card {
  max-width: 40rem;
}
.trending {
  font-weight: bold;
  padding: 4px;
  text-align: right;
  color:#3f51b5;
  border: 2px solid #99ccff;
  transition: 500ms linear;
}

