<div class="container">
    <div class="row">
    <div class="col-4 my-4">
      <img src="https://i.imgur.com/yI8KC7w.jpg" alt="" class="img-fluid">
    </div>

      <div class="col-8 my-4" [ngClass]="{'matBorder':forfaits.forfaitEnVedette}">

            <div *ngIf="forfaits.forfaitEnVedette"><span class="material-icons float-right">trending_up trending_up trending_up</span></div>
        <!-- Partie du haut -->

        <div fxLayout="column" fxLayoutAlign="space-around start">
        <mat-card-header>
            <mat-card-title>{{forfaits.destination}}</mat-card-title>
            <mat-card-subtitle>{{forfaits.villeDepart}}</mat-card-subtitle>
        </mat-card-header>
        </div>

          <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <span class="material-icons">flight_takeoff</span>
            <span class="material-icons">flight_land</span>
          </div>

        <div fxLayout="row" fxLayoutAlign="space-evenly center">
          <b>{{forfaits.dateDepart}}</b>
            <b>{{forfaits.dateRetour}}</b>
          </div>
        <b>Durée: </b> {{duree(forfaits.dateDepart, forfaits.dateRetour)}} jours

          <div fxLayout="column" fxLayoutAlign="space-between start">
          {{ forfaits.hotel.nom }}
              <ngb-rating [rate]="forfaits.hotel.nombreEtoiles" [readonly]="readonly">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                </ng-template>
              </ngb-rating>


          {{ forfaits.hotel.nombreChambres}} chambres
          </div>
            <ul *ngFor="let caracHotel of forfaits.hotel.caracteristiques">
              <li class="list-group-item-action">
              {{ caracHotel }}
            </li>
            </ul>

        <div fxLayout="row" fxLayoutAlign="end center">
          <app-prix-forfait [rabais]="forfaits.rabais" [prix]="forfaits.prix"></app-prix-forfait>
        </div>

        </div>

      </div>

  <mat-divider></mat-divider>

</div>


