<div class="container">

    <div class="row">
        <div class="col-12">

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Assumenda atque eius ex excepturi fugiat impedit magni modi, mollitia officiis omnis, perferendis placeat quos repellat, vel vero!
            Atque fugit reprehenderit vitae!</p>
        </div>
      <div class="col-4">

        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Voyages</mat-card-title>
            <mat-card-subtitle>Plusieurs départs</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/voyage1.jpg" alt="Photo Voyage">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>AIMER</button>
            <button mat-button>PARTAGER</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-4">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Voyages</mat-card-title>
            <mat-card-subtitle>Forfaits en vedette</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/voyage1.jpg" alt="Photo Voyage">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>AIMER</button>
            <button mat-button>PARTAGER</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-4">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Voyages</mat-card-title>
            <mat-card-subtitle>Tout-inclus</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/voyage1.jpg" alt="Photo Voyage">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>AIMER</button>
            <button mat-button>PARTAGER</button>
          </mat-card-actions>
        </mat-card>
      </div>

      </div>
    </div>

