<div class="container">
  <div class="row forfaitVedette" style="justify-content: center;">
    <div *ngFor="let miniforfait of tabforfait">
      <div class="col">
        <!-- Section des cartes pour les forfaits voyage -->
        <div *ngIf="miniforfait.forfaitEnVedette">
          <mat-card class="my-2 cardVedette">
            <mat-card-header>
              <mat-card-title>{{miniforfait.destination}}</mat-card-title>
              <mat-card-subtitle>{{miniforfait.villeDepart}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{miniforfait.hotel.nomHotel}}
              <ngb-rating [rate]="miniforfait.hotel.nbEtoiles" [readonly]="readonly">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </mat-card-content>

            <mat-card-content>
              <p>{{miniforfait.dateDepart}} / {{miniforfait.duree}}</p>
              <!-- Componsant prix-forfait pour reprendre la même structure, en remplaçant tabForfait par miniforfait-->
              <app-prix-forfait [rabais]="miniforfait.rabais" [prix]="miniforfait.prix"></app-prix-forfait>
            </mat-card-content>
          </mat-card>
        </div>
        <!-- Fin forfaits en vedette -->
      </div>
    </div>
  </div>

</div>


