<!-- Section des forfaits en vedettes -->

        <!-- Section des cartes pour les forfaits voyage -->
          <mat-card class="my-2 cardVedette">
            <mat-card-header>
              <mat-card-title>{{forfait.destination}}</mat-card-title>
              <mat-card-subtitle>{{forfait.villeDepart}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>{{forfait.hotel.nom}}
              <ngb-rating [rate]="forfait.hotel.nombreEtoiles" [readonly]="readonly">
                <ng-template let-fill="fill" let-index="index">
                  <span class="star" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                </ng-template>
              </ngb-rating>
            </mat-card-content>

            <mat-card-content>
              <p>Départ: <b>{{forfait.dateDepart}}</b></p>
              <p>Durée: <b>{{duree(forfait.dateDepart, forfait.dateRetour)}} Jours</b></p>
              <!-- Componsant prix-forfait pour reprendre la même structure, en remplaçant tabForfait par forfait-->
              <app-prix-forfait [rabais]="forfait.rabais" [prix]="forfait.prix"></app-prix-forfait>
            </mat-card-content>
          </mat-card>
        <!-- Fin forfaits en vedette -->


